{
  "plugins": [["@babel/plugin-transform-runtime"]],
  "presets": [
    [
      "@babel/preset-env",
      { "corejs": 3, "useBuiltIns": "usage", "targets": "> 0.5%" }
    ],
    ["@babel/typescript"]
  ]
}
