/* palette: https://coolors.co/22223b-4a4e69-9a8c98-c9ada7-f2e9e4 */

html {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  background-color: #4a4e69;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
}

#content {
  background-color: #c9ada7;
  color: #22223b;
  border-radius: 10px;
  margin: 48px 96px;
  padding: 24px;
  max-width: 700px;
}

h1 {
  font-size: 32pt;
  font-weight: inherit;
  margin: 0px 0px 32px 0px;
}

.t {
  font-size: 16pt;
  line-height: 20pt;
  border-width: 0px;
  border-radius: 8px;
  border-style: none;
  padding: 8px;
  margin: 0px;
}

input.t {
  width: 500px;
  font-family: 'Space Mono';
  font-weight: 400;
  font-style: normal;
  font-variant-ligatures: none;
  background-color: #f2e9e4;
  color: #22223b;
  margin-right: 16px;
}

input.t::placeholder {
  color: #9a8c98;
  opacity: 1;
}

button.t {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #4a4e69;
  color: #f2e9e4;
}

p {
  font-size: 16pt;
  line-height: 20pt;
}

#url_long_disp {
  font-family: 'Space Mono';
  font-weight: 400;
  font-style: normal;
  font-variant-ligatures: none;
  font-size: 14pt;
  line-height: 18pt;
}

#error {
  color: #4a4e69;
}

.invisible {
  display: none;
}
