/* palette: https://coolors.co/22223b-4a4e69-9a8c98-c9ada7-f2e9e4 */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('Montserrat-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('SpaceMono-Regular.woff2') format('woff2');
}

:root {
  --space-cadet: #22223b;
  --ultra-violet: #4a4e69;
  --rose-quartz: #9a8c98;
  --pale-dogwood: #c9ada7;
  --isabelline: #f2e9e4;
  --font-mono: 'Space Mono';
  --font-sans: 'Montserrat';
  font-family: var(--font-sans), sans-serif;
  font-weight: 500;
  font-style: normal;
}

html {
  background-color: var(--ultra-violet);
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

#content {
  background-color: var(--pale-dogwood);
  color: var(--space-cadet);
  border-radius: 10px;
  margin: 48px 96px;
  padding: 24px;
  max-width: 700px;
}

h1 {
  font-size: 32pt;
  font-weight: inherit;
  margin: 0 0 32px 0;
}

.t {
  font-size: 16pt;
  line-height: 20pt;
  border-width: 0;
  border-radius: 8px;
  border-style: none;
  padding: 8px;
  margin: 0;
}

input.t {
  width: 500px;
  font-family: var(--font-mono), monospace;
  font-weight: 400;
  font-style: normal;
  font-variant-ligatures: none;
  background-color: var(--isabelline);
  color: var(--space-cadet);
  margin-right: 16px;
}

input.t::placeholder {
  color: var(--rose-quartz);
  opacity: 1;
}

button.t {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--ultra-violet);
  color: var(--isabelline);
  cursor: pointer;
}

button.t:disabled {
  opacity: 0.6;
  cursor: inherit;
}

p {
  font-size: 16pt;
  line-height: 20pt;
}

#url_long_disp {
  font-family: var(--font-mono), monospace;
  font-weight: 400;
  font-style: normal;
  font-variant-ligatures: none;
  font-size: 14pt;
  line-height: 18pt;
}

#error {
  color: var(--ultra-violet);
}

.invisible {
  display: none;
}
